<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, hic
        dolor tenetur vel sequi delectus quos atque numquam sint iste facere
        eligendi voluptatum natus ipsum at veritatis tempore nostrum nesciunt!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn btn--stretched">Get Started</a>
  </div>
</div>
